<a href="https://colab.research.google.com/github/Megha2004/IBM_DataScience/blob/main/IBM_Rocket_landing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv("/content/Rocket_landing.csv")
df.head()

,FlightNumber,Date,BoosterVersion,PayloadMass,Orbit,LaunchSite,Outcome,Flights,GridFins,Reused,Legs,LandingPad,Block,ReusedCount,Serial,Longitude,Latitude
0,1,2010-06-04,Falcon 9,6104.959412,LEO,CCAFS SLC 40,None None,1,False,False,False,NaN,1.0,0,B0003,-80.577366,28.561857
1,2,2012-05-22,Falcon 9,525.000000,LEO,CCAFS SLC 40,None None,1,False,False,False,NaN,1.0,0,B0005,-80.577366,28.561857
2,3,2013-03-01,Falcon 9,677.000000,ISS,CCAFS SLC 40,None None,1,False,False,False,NaN,1.0,0,B0007,-80.577366,28.561857
3,4,2013-09-29,Falcon 9,500.000000,PO,VAFB SLC 4E,False Ocean,1,False,False,False,NaN,1.0,0,B1003,-120.610829,34.632093
4,5,2013-12-03,Falcon 9,3170.000000,GTO,CCAFS SLC 40,None None,1,False,False,False,NaN,1.0,0,B1004,-80.577366,28.561857

In [ ]:
df.columns

Index(['FlightNumber', 'Date', 'BoosterVersion', 'PayloadMass', 'Orbit',
       'LaunchSite', 'Outcome', 'Flights', 'GridFins', 'Reused', 'Legs',
       'LandingPad', 'Block', 'ReusedCount', 'Serial', 'Longitude',
       'Latitude'],
      dtype='object')

In [ ]:
launch_site_counts = df['LaunchSite'].value_counts()
print(launch_site_counts)

CCAFS SLC 40    55
KSC LC 39A      22
VAFB SLC 4E     13
Name: LaunchSite, dtype: int64

In [ ]:
orbit_counts = df['Orbit'].value_counts()
print(orbit_counts)

GTO      27
ISS      21
VLEO     14
PO        9
LEO       7
SSO       5
MEO       3
ES-L1     1
HEO       1
SO        1
GEO       1
Name: Orbit, dtype: int64

In [ ]:
landing_outcomes = df['Outcome'].value_counts()
print(landing_outcomes)

True ASDS      41
None None      19
True RTLS      14
False ASDS      6
True Ocean      5
False Ocean     2
None ASDS       2
False RTLS      1
Name: Outcome, dtype: int64

In [ ]:
# Define the set of bad outcomes
bad_outcomes = {'Failure (in flight)', 'Uncontrolled (ocean)', 'Lost'}

# Create a list of 0s and 1s based on the 'Outcome' column
landing_class = [0 if outcome in bad_outcomes else 1 for outcome in df['Outcome']]

# Assign the list to the variable landing_class
df['LandingClass'] = landing_class

In [ ]:
launch_site_counts = df['LaunchSite'].value_counts()
launches_from_CCAFS_SLC_40 = launch_site_counts['CCAFS SLC 40']
print("Number of launches from CCAFS SLC 40:", launches_from_CCAFS_SLC_40)

Number of launches from CCAFS SLC 40: 55

In [ ]:
number_of_none_outcomes = landing_class.count(0)
print("Number of landing outcomes with a value of 0:", number_of_none_outcomes)

Number of landing outcomes with a value of 0: 0

In [ ]:
# Access the value in the first row of the 'static_fire_date_utc' column
first_static_fire_date = df.loc[0, 'static_fire_date_utc']

# Extract the year from the date
year = first_static_fire_date.split('-')[0]

# Print the year
print("Year located in the first row:", year)